---

---

<meta charset="UTF-8" />
<body>
  <a href="/">ホーム</a>
  <a href="/about/">概要</a>

  <h1>管理人について</h1>
  <h2>本ブログについて</h2>

  <p>
    以前のhtml、css、vanilla
    jsのサイトをあれこれ書き換えて更新するのが面倒になり、記事をmdで書いて、コンポーネントに分割してシンプルで管理しやすくしたいと思ったのでAstroチュートリアル通りに少しずつ作り直してみる。学習用とも兼ねているので、生成AIの使用はデバッグ含め禁止とする。
  </p>
</body>
